.anita-frame-wrapper [data-gjs-type='wrapper'].device-sm, .anita-frame-wrapper [data-gjs-type='wrapper'].device-xs {

    .col-sm {
        -ms-flex-preferred-size: 0 !important;
        flex-basis: 0 !important;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        max-width: 100% !important;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto !important;
        flex: 0 0 auto !important;
        width: auto !important;
        max-width: 100% !important;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333% !important;
        flex: 0 0 8.333333% !important;
        max-width: 8.333333% !important;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667% !important;
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333% !important;
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667% !important;
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333% !important;
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667% !important;
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75% !important;
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333% !important;
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667% !important;
        flex: 0 0 91.666667% !important;
        max-width: 91.666667% !important;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .order-sm-first {
        -ms-flex-order: -1 !important;
        order: -1 !important;
    }

    .order-sm-last {
        -ms-flex-order: 13 !important;
        order: 13 !important;
    }

    .order-sm-0 {
        -ms-flex-order: 0 !important;
        order: 0 !important;
    }

    .order-sm-1 {
        -ms-flex-order: 1 !important;
        order: 1 !important;
    }

    .order-sm-2 {
        -ms-flex-order: 2 !important;
        order: 2 !important;
    }

    .order-sm-3 {
        -ms-flex-order: 3 !important;
        order: 3 !important;
    }

    .order-sm-4 {
        -ms-flex-order: 4 !important;
        order: 4 !important;
    }

    .order-sm-5 {
        -ms-flex-order: 5 !important;
        order: 5 !important;
    }

    .order-sm-6 {
        -ms-flex-order: 6 !important;
        order: 6 !important;
    }

    .order-sm-7 {
        -ms-flex-order: 7 !important;
        order: 7 !important;
    }

    .order-sm-8 {
        -ms-flex-order: 8 !important;
        order: 8 !important;
    }

    .order-sm-9 {
        -ms-flex-order: 9 !important;
        order: 9 !important;
    }

    .order-sm-10 {
        -ms-flex-order: 10 !important;
        order: 10 !important;
    }

    .order-sm-11 {
        -ms-flex-order: 11 !important;
        order: 11 !important;
    }

    .order-sm-12 {
        -ms-flex-order: 12 !important;
        order: 12 !important;
    }

    .offset-sm-0 {
        margin-left: 0 !important;
    }

    .offset-sm-1 {
        margin-left: 8.333333% !important;
    }

    .offset-sm-2 {
        margin-left: 16.666667% !important;
    }

    .offset-sm-3 {
        margin-left: 25% !important;
    }

    .offset-sm-4 {
        margin-left: 33.333333% !important;
    }

    .offset-sm-5 {
        margin-left: 41.666667% !important;
    }

    .offset-sm-6 {
        margin-left: 50% !important;
    }

    .offset-sm-7 {
        margin-left: 58.333333% !important;
    }

    .offset-sm-8 {
        margin-left: 66.666667% !important;
    }

    .offset-sm-9 {
        margin-left: 75% !important;
    }

    .offset-sm-10 {
        margin-left: 83.333333% !important;
    }

    .offset-sm-11 {
        margin-left: 91.666667% !important;
    }
}

.anita-frame-wrapper [data-gjs-type='wrapper'].device-md {
    .col-md {
        -ms-flex-preferred-size: 0 !important;
        flex-basis: 0 !important;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        max-width: 100% !important;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto !important;
        flex: 0 0 auto !important;
        width: auto !important;
        max-width: 100% !important;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333% !important;
        flex: 0 0 8.333333% !important;
        max-width: 8.333333% !important;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667% !important;
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
    }

    .col-md-3 {
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333% !important;
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667% !important;
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }

    .col-md-6 {
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333% !important;
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667% !important;
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }

    .col-md-9 {
        -ms-flex: 0 0 75% !important;
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333% !important;
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667% !important;
        flex: 0 0 91.666667% !important;
        max-width: 91.666667% !important;
    }

    .col-md-12 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .order-md-first {
        -ms-flex-order: -1 !important;
        order: -1 !important;
    }

    .order-md-last {
        -ms-flex-order: 13 !important;
        order: 13 !important;
    }

    .order-md-0 {
        -ms-flex-order: 0 !important;
        order: 0 !important;
    }

    .order-md-1 {
        -ms-flex-order: 1 !important;
        order: 1 !important;
    }

    .order-md-2 {
        -ms-flex-order: 2 !important;
        order: 2 !important;
    }

    .order-md-3 {
        -ms-flex-order: 3 !important;
        order: 3 !important;
    }

    .order-md-4 {
        -ms-flex-order: 4 !important;
        order: 4 !important;
    }

    .order-md-5 {
        -ms-flex-order: 5 !important;
        order: 5 !important;
    }

    .order-md-6 {
        -ms-flex-order: 6 !important;
        order: 6 !important;
    }

    .order-md-7 {
        -ms-flex-order: 7 !important;
        order: 7 !important;
    }

    .order-md-8 {
        -ms-flex-order: 8 !important;
        order: 8 !important;
    }

    .order-md-9 {
        -ms-flex-order: 9 !important;
        order: 9 !important;
    }

    .order-md-10 {
        -ms-flex-order: 10 !important;
        order: 10 !important;
    }

    .order-md-11 {
        -ms-flex-order: 11 !important;
        order: 11 !important;
    }

    .order-md-12 {
        -ms-flex-order: 12 !important;
        order: 12 !important;
    }

    .offset-md-0 {
        margin-left: 0 !important;
    }

    .offset-md-1 {
        margin-left: 8.333333% !important;
    }

    .offset-md-2 {
        margin-left: 16.666667% !important;
    }

    .offset-md-3 {
        margin-left: 25% !important;
    }

    .offset-md-4 {
        margin-left: 33.333333% !important;
    }

    .offset-md-5 {
        margin-left: 41.666667% !important;
    }

    .offset-md-6 {
        margin-left: 50% !important;
    }

    .offset-md-7 {
        margin-left: 58.333333% !important;
    }

    .offset-md-8 {
        margin-left: 66.666667% !important;
    }

    .offset-md-9 {
        margin-left: 75% !important;
    }

    .offset-md-10 {
        margin-left: 83.333333% !important;
    }

    .offset-md-11 {
        margin-left: 91.666667% !important;
    }
}

// lg
.anita-frame-wrapper [data-gjs-type='wrapper'].device-lg {
    .col-lg {
        -ms-flex-preferred-size: 0 !important;
        flex-basis: 0 !important;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        max-width: 100% !important;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto !important;
        flex: 0 0 auto !important;
        width: auto !important;
        max-width: 100% !important;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333% !important;
        flex: 0 0 8.333333% !important;
        max-width: 8.333333% !important;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667% !important;
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333% !important;
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667% !important;
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333% !important;
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667% !important;
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75% !important;
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333% !important;
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667% !important;
        flex: 0 0 91.666667% !important;
        max-width: 91.666667% !important;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .order-lg-first {
        -ms-flex-order: -1 !important;
        order: -1 !important;
    }

    .order-lg-last {
        -ms-flex-order: 13 !important;
        order: 13 !important;
    }

    .order-lg-0 {
        -ms-flex-order: 0 !important;
        order: 0 !important;
    }

    .order-lg-1 {
        -ms-flex-order: 1 !important;
        order: 1 !important;
    }

    .order-lg-2 {
        -ms-flex-order: 2 !important;
        order: 2 !important;
    }

    .order-lg-3 {
        -ms-flex-order: 3 !important;
        order: 3 !important;
    }

    .order-lg-4 {
        -ms-flex-order: 4 !important;
        order: 4 !important;
    }

    .order-lg-5 {
        -ms-flex-order: 5 !important;
        order: 5 !important;
    }

    .order-lg-6 {
        -ms-flex-order: 6 !important;
        order: 6 !important;
    }

    .order-lg-7 {
        -ms-flex-order: 7 !important;
        order: 7 !important;
    }

    .order-lg-8 {
        -ms-flex-order: 8 !important;
        order: 8 !important;
    }

    .order-lg-9 {
        -ms-flex-order: 9 !important;
        order: 9 !important;
    }

    .order-lg-10 {
        -ms-flex-order: 10 !important;
        order: 10 !important;
    }

    .order-lg-11 {
        -ms-flex-order: 11 !important;
        order: 11 !important;
    }

    .order-lg-12 {
        -ms-flex-order: 12 !important;
        order: 12 !important;
    }

    .offset-lg-0 {
        margin-left: 0 !important;
    }

    .offset-lg-1 {
        margin-left: 8.333333% !important;
    }

    .offset-lg-2 {
        margin-left: 16.666667% !important;
    }

    .offset-lg-3 {
        margin-left: 25% !important;
    }

    .offset-lg-4 {
        margin-left: 33.333333% !important;
    }

    .offset-lg-5 {
        margin-left: 41.666667% !important;
    }

    .offset-lg-6 {
        margin-left: 50% !important;
    }

    .offset-lg-7 {
        margin-left: 58.333333% !important;
    }

    .offset-lg-8 {
        margin-left: 66.666667% !important;
    }

    .offset-lg-9 {
        margin-left: 75% !important;
    }

    .offset-lg-10 {
        margin-left: 83.333333% !important;
    }

    .offset-lg-11 {
        margin-left: 91.666667% !important;
    }
}